<table>
  <thead>
    <tr>
      <td>id_note</td>
      <td>Titulo</td>
      <td>Descricao</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let nota of notas">
      <td>{{nota.id}}</td>
      <td>{{nota.title}}</td>
      <td>{{nota.descricao}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<p-table [value]="notas">

  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Descrição</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-nota>
    <tr>
        <td>{{nota.id}}</td>
        <td>{{nota.title}}</td>
        <td>{{nota.descricao}}</td>
    </tr>
</ng-template>
</p-table>
